body {
  font-family: Arial, sans-serif;
  background: url('Untitled.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding-top: 40px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input {
  width: 70%;
  padding: 8px;
  border: 10px solid #10e05c;
  border-radius: 10px;
  outline: none;
}

button {
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#addBtn {
  background-color: #4CAF50;
  color: white;
}

ul {
 /* list-style:none;  */
  padding: 0;
  margin-top: 15px;
}

li {
  background: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word; 
  overflow-wrap: break-word; 
}

.completed {
  text-decoration:underline;
  color: rgb(41, 16, 229);
}

.btn-group button {
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 10px;
}

.done {
  background-color: #4CAF50;
  color: white;
}

.delete {
  background-color: #f44336;
  color: white;
}

.date {
  font-size: 12px;
  color: #121212;
  margin-top: 4px;
}